page-login {
    .scroll-content{
        align-content: center;
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        
    }
    .title{
        color:green;
        font-size: 18px;
        font-weight: bold;
        text-shadow: 2px 2px .5px rgb(199, 198, 198);
    }
    
    
}
